.shadow{
    box-shadow: 3px 3px #666;
}

.Cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.HideCart{
    visibility: collapse;
}

.Cart__clear{
    background-color: #ccc;
}

.Cart__prods{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cart__total{
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.Cart__noProducts{
    text-align: center;
}

.Cart__order{
    background-color: #ccc;
}