.shadow{
    box-shadow: 3px 3px #666;
}

.ItemCart{
    width: 90%;
    min-height: 10rem;
    border-radius: 1rem;
    border: none;
    background-color: #ccc;
    margin: 1rem;
    position: relative;
}

.ItemCart__content{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.ItemCart__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    text-align: center;
}

.ItemCart__price{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemCart__price__unit{
    font-size: 0.8rem;
    margin: 0.5rem;
}

.ItemCart__price__total{
    font-size: 1.5rem;
}

.ItemCart__imgContainer{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.ItemCart__img{
    max-height: 9rem;
    margin: 0 0.5rem;
    border-radius: 1rem;
}

.ItemCart__close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 0.5rem 0 0;
}