.itemDetail{
    width: calc(100% - 2rem);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.itemDetail__img{
    width: 50%;
}

.itemDetail__img img{
    width: 100%;
    max-height: 35rem;
    object-fit: scale-down;
}

.itemDetail__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.itemDetail__text__name{
    font-size: 2rem;
    text-align: center;
}

.itemDetail__text__id{
    font-size: 1rem;
}

.itemDetail__text__img{
    display: none;
    width: 80%;
    margin: 1rem 0;
}

.itemDetail__text__price{
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: center;
}

.itemDetail__text__description{
    font-size: 1rem;
    margin: 2rem 0;
    text-align: center;
}

.itemDetail__text__cart{
    background-color: #bbb;
    box-shadow: 3px 3px #666;
    margin: 0.5rem 0.5rem;
    width: 9rem;
    text-align: center;
}

.itemDetail__text__cartButtons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px){
    .itemDetail__img{
        width: 50%;
        padding: 0;
    }
    .itemDetail__text__name{
        font-size: 1.5rem;
    }
    .itemDetail__text__id{
        font-size: 0.7rem;
    }
    .itemDetail__text__description{
        font-size: 0.9rem;
        text-align: center;
    }
}

@media screen and (max-width: 650px){
    .itemDetail{
        padding: 0;
        width: 100%;
    }
    .itemDetail__img{
        display: none;
    }
    .itemDetail__text__img{
        display: inherit;
    }
    .itemDetail__text{
        padding: 1rem 0;
    }
}


