.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ccc;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
}

.item__id{
    font-size: 0.7rem;
}

.item__price{
    font-size: 1.2rem;
}

.item p{
    padding: 0.3rem;
}

.item a{
    width: 80%;
}

.item img{
    width: 100%;
}

.item img:hover{
    opacity: 0.5;
    cursor: pointer;
}