.NavBar__nav{
    font-family: "Raleway", sans-serif;
    height: 6rem;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #ddd;
}

.NavBar__nav__div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar__nav__div:hover{
    transition: all 1.5s;
    transform: rotatey(1turn);
    animation-iteration-count: infinite;
}

.NavBar__nav__div__img{
    width: 4.5rem;
    margin: 0.5rem 1rem;
}

.NavBar__nav__div__span{
    font-size: 1.8rem;
    text-align: center;
}

.NavBar__nav__ul{
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
}

.NavBar__nav__ul__li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    width: 5rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.NavBar__nav__ul__li:hover{
    background-color: #eee;
    transition: all 1.5s;
    opacity: 0.4;
    transform: rotatey(1turn);
}